/* * {
  border: 1px dashed red
} */

.bg {

  height: 100%;
  background-image: url("./images/duotone_lanes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}  

#navigation {
  background-color: rgba(255,255,0,.8);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 40%;
  justify-content: flex-start;
  align-content: center;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 50%;

}

input[type=text] {
  width: 100%;
  padding: 5px 5px;
  margin: 2px 0;
}

button {
  padding: 5px 5px;
  margin: 2px 0;
  font-size: 1.2em;
}

body {
  font-family: helvetica, century gothic, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #b29bcd;
  width: 100%;
  

}

header {
  border-radius: 10px;
  border: 20px double cyan;
  box-shadow: 5px 5px 10px 5px magenta;
  background-color: rgba(255,255,0,.8);
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80%;
  align-items: center;
}

.detail-view {
  width: 70%;
}

.detail-view > img {
  border-radius: 20px;
  padding: 10px;
  border: 4px solid magenta;

}

article {
  background-color: rgba(255,255,0,.8);
  border: 1px solid black;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow:  10px 10px 5px rgb(17, 20, 20);
  width: 200px;
  margin: 30px; 
  padding: 20px;
}

content > img {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

content {
  display: flexbox;
}
